{{#each allSongs as |song|}}
  <div class=' card row mb-4 p-3 song' style="background-color: #191414e9; border: radius 2px;">
    <div class='col-md-auto p-2' >
      <h3 class="p-1" style="background-color: #1db954; border-radius: 3px;">
        <p class="text-light ms-2 mt-3">{{song.title}}</p>
      </h3>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class='artist'>Artist: {{song.artist}}</span>        
      </li>
      <li class="list-group-item">
        <span class='genre'>Genre: {{song.genre}}</span>
      </li>
      <li class="list-group-item">Posted by: {{song.user.name}} </li>
    </div>
    </ul>
    <div class='col-md-7'>
      <p>
        {{song.description}}
      </p>
    </div>
  </div>
{{/each}}