
{{#each songs as |song| }}
<div class="row mb-4 song">
  <div class="col-md-5">
    <h2>
   
      <a href="/song/{{song.id}}">{{song.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      
      <span class="dollar-amount">{{format_amount song.needed_funding}}</span>
      needed!
    </p>
    <p>Posted by {{song.user.name}} on {{format_date song.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{song.description}}
    </p>
  </div>
</div>
{{/each}}
